body {
  background-color:azure;
  background-image: url("folder/GACHA.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  font-size: 48px;
}

.btn-row{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.btn{
  padding: 24px 48px;
  font-size: 48px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #f5f5f5;
  cursor: pointer;
}

.slot-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.slot-grid img {
  width: 120px;
  height: 120px; 
  object-fit: cover;
  border-radius: 6px;
  border: none;
  opacity: 0;
  transition: opacity 0.3s;
}